body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

main {
    background: url(../img/bg.jpg);
    width: 100%;
    height: 100vh;
    float: left;
    text-align: center;
}

    .img {
        margin-top:195px;
    }
    .text1 {
        margin-top:30px;
        font-size: 30px;
        font: weight 700;   

    }
    .paragprah p {
        font-size: 20px;
        color: #BAC9D0;
        

    }
    .timeclock {
        color: white;
        margin-top: 50px;
        width: 100%;
        
    }
    .time {
        display: inline-block;
        width: 25%;
        float: left;
    }

    .time-in-minutes{
        font-size: 60px;
        font-weight: bold;
    }
    .time-in-days {
            font-size: 10px;  
    }
  

    .headerform {
        display: inline-block;
        width: 80%;
        margin-top: 50px;
        
    }
    .headerform > .row1 {
        display: inline-block;
        float: left;
        width: 100%;
    }
    
    form > .row1 > input {
        display: inline-block;
        box-sizing: border-box;
        color: white;
        border: none;
        border-bottom: 2px solid rgba(255,255,255 , 0.7);
        background:transparent;
        width: 100%;
        outline: none;
        padding-bottom: 5px;
    }

    form > .row1 ::placeholder {
            color: #fff;

    }
    button {
        color: white;
        background-color: #EA1E63;
        border:none;
        padding: 15px 80px;
        display: block;
        margin: auto;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .mouse {
        position: relative;
        border: 2px solid rgb(255, 255, 255);
        width: 25px;
        height: 50px;
        border-radius: 100px;
        left:50%;
        transform: translateX(-50%);
    }
    .wheel {
        position: absolute;
        background:rgb(255, 255, 255, 0.7);
        left: 50%;
        width: 5px;
        height: 10px;
        border-radius: 15px;
        animation:wheel 2s ease infinite;
    }

    @keyframes wheel {
        0% {
            top:20%;
            transform: translate(-50%,20%);
            opacity: 1;
        }
        100% {
            top:60%;
            transform: translate(-60%,20%);
            opacity: 0;

        }
    }

section {
        display: inline-block;
        width: 100%;
        
    }
   
        .left {
            display: inline-block;
            width: 40%;
            float:left;
            /* margin-left: 50px; */    
            margin-top: 80px;   
        }
        
        .h1 {
            display: inline-block;
            margin-bottom: 50px;
            width: 100%;
            
        }
        .paragprah2 {
            /* margin-top: 50px;
            width: 620px; */
            margin-bottom: 40px;
            display: inline-block;
            width: 100%;
            font-size:17px;
            color: #C0C8D5;
        }
        .paragprah2 > p > a {
            color: #EA1E63;
            text-decoration: none;
        }
  
        .progress-bar {
            display: inline-block;
            width: 100%;
            
        }

        .texts {
            display: inline-block;
            width: 100%;
        
        }
        .texts > .title {
        display: inline-block;
        float: left;
        }

        .texts > .value {
        display: inline-block;
        float: right;
         }

    .bar {
            margin-bottom: 40px;    
            width: 100%;
            background-color: gray;
            height: 10px;

        }

         .bar > .value {
        display: inline-block;
        background-color: #03A9F5;
        
    }

    .right {
        display: inline-block;
        width: 49%;
        float: right;
        /* margin-left: 50px; */
        margin-top: 80px;
        /* margin-left: 240px;      */
    }

        .h2 {
            margin-bottom: 50px;
        }

        .paragraph3 {
        
                margin-bottom: 80px;
                font-size: 17px;
                color: #C0C8D5;
        }

        .paragraph3 > p > a {
        color: #EA1E63;
        text-decoration: none;
        }


        form >.form-row> input {
            display: inline-block;
            width: 49%;
            border:none;
            border-bottom: 1px solid #BAC9D0;
            margin-bottom: 80px;
            padding-bottom: 20px; 
        }

        form > .form-row> textarea {
                display: inline-block;
                width: 100%;
                border:none;
                border-bottom: 1px solid #BAC9D0;
                padding-bottom: 20px;  
        }

        .btn > button {
            float: right;
            display: inline-block;
        }

footer {
    display: inline-block;
    float:left;
    background-color: #03A9F5;
    width: 100%;
    text-align: center;
    /* padding-top: 80px; */
}

    .icons {
            display: inline-block;
            margin-top: 40px;
            margin-bottom: 40px;
            border-bottom: 0.5px solid rgba(255,255,255 ,0.7);
            width: 100%;
            float:left;
            /* margin-left: 15%; */
    }
  
    .icons > a {
        color: white;
    }



    .icons > a > i {
        display: inline-block;
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 20px;
    }

    .imgfooterlogo {
            display:inline-block;
            width: 100%;
            margin-bottom: 20px;
    }
    .footerlinks {
            display: inline-block;
            width: 100%;
    }
    .link {
        display: inline-block;
        width: 100%;
    }
    .link p {
            display: inline-block;
            padding: 5px;
            color: #43CAFA;
    }
    .link > p > a {
        color: white;
        text-decoration: none;
    }
    .footerparagraph > p > a {
        color: white;
        text-decoration: none;
    }
    .footerparagraph p {
            color: #43CAFA;
            width: 80%;
            margin-left: 10%;
    }
 
    .up-button {
            position: relative;
            /* border: 1px solid white; */
            background-color: #EA1E63;
            width: 60px;
            height: 60px;
            border-radius: 90px;
            left:81%;
            top:-30px;
    }

    .up-button > .arrow > a {
        text-decoration: none;
        color: white;
    }
    .up-button > .arrow {
            position: absolute;
            top:35%;
            left: 38%;
    }

    .responsive-design-main {
        width: 700px;
        margin-left: calc( (100% - 700px) / 2 );
    }

    .responsive-design-sections {
        display: inline-block;
        float: left;
        width: 1200px;
        margin-left: calc( (100% - 1200px) / 2 ); 
        margin-bottom: 120px;
        }   

    responsive-design-sections {
        display: inline-block;
        float: left;
        width: 1200px;
        margin-left: calc( (100% - 1200px) / 2 ); 
        /* background-color: red;        */
        }


    @media (max-width: 1300px) {
        .responsive-design-sections {
            width: 900px;
            margin-left: calc( (100% - 900px) / 2 );
        }
    }

    @media (max-width: 1000px) {
        .responsive-design-sections {
            width: 800px;
            margin-left: calc( (100% - 800px) / 2 );
            
        }

        .responsive-design-sections > .left {
            display: block;
            width: 100%;
        }
        .responsive-design-sections > .right {
            display: block;
            width: 100%;
        }
        footer {
                display: block;
        }

    }
    @media (max-width: 900px) {
        .responsive-design-sections {
            width: 500px;
            margin-left: calc( (100% - 500px) / 2 );
        
            
        }
        
    }

    @media (max-width: 700px) {
        .responsive-design-main {
        width: 500px;
        margin-left: calc( (100% - 500px ) /2 );

        }
    }

    @media (max-width: 600px) {
        .responsive-design-sections {
            width: calc(100% - 40px);
            margin-left: 20px;
        }
    }


    @media (max-width: 900px) {
        .responsive-design-main {
        width: 700px;
        margin-left: calc( (100% - 700px ) /2 );
        }
    }

    @media (max-width: 800px) {
        .responsive-design-main {
        width: 600px;
        margin-left: calc( (100% - 600px ) /2 );
        }
    }

    @media (max-width: 700px) {
        .responsive-design-main {
        width: 500px;
        margin-left: calc( (100% - 500px ) /2 );
        }
    }


    @media (max-width: 600px) {
        .responsive-design-main {
            width: calc(100% - 40px);
            margin-left: 20px;
        }
    }